<h2>{{ title }}</h2>

<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn">Assignments</button>
    </a>
  </div>

  <ul>
    @for (assignment of assignments; track assignment.name) {
      <nav>
        <a routerLink="/assignment/{{assignment.id}}">
          @if (assignment.submitted) {
            <li class="submitted" (click)="assignmentClique(assignment)">
              The assignment: {{ assignment.name }} has been submitted in time!
            </li>
          } @else {
            <li class="notSubmitted" (click)="assignmentClique(assignment)">
              The assignment: {{ assignment.name }} is still due on
              {{ assignment.dueDate | date }}, NOT SUBMITTED YET!
            </li>
          }
        </a>
      </nav>
    }
  </ul>
</main>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    @for (assignment of assignments; track assignment.name) {
      <tr>
        <td>{{ assignment.name }}</td>
        <td>{{ assignment.dueDate | date }}</td>
        <td>{{ assignment.submitted }}</td>
      </tr>
    }
  </tbody>
</table>

<router-outlet></router-outlet>
